PORT=5000
JWT_ACCESS_SECRET=2b6e7e8f4c9a4e7b9d3f1a2c5e6d8b7f
JWT_REFRESH_SECRET=3f1a2c5e6d8b7f9a4e7b9d3f1a2c5e6d8b
JWT_ACCESS_TOKEN_EXPIRES=1d
JWT_REFRESH_TOKEN_EXPIRES=365d
SERVER_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000
PASSWORD="Codysta@123"
ADMIN_FULL_NAME="Codysta Admin"
ADMIN_EMAIL="contact.codysta@gmail.com"


DATABASE_URL="postgresql://neondb_owner:npg_jkoTg2p3SKsY@ep-hidden-firefly-a1zfbjqf-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"